.body{

    background-color: Thistle;
}   
#h1{
    
    text-align: center;
    font-size: 35px;
}
.abc
{
    height: 100px;
    width: 400px;
    border: 1px solid black;
    color: white;
    box-sizing: border-box;
    margin-top: 10px;
    
    background-color: rgb(131, 97, 152);
}

@media only screen and (min-width: 600px) {
    .abc{
        margin-left: 161px;
    }
}